default-cache-ttl 0
max-cache-ttl 600
default-cache-ttl-ssh 0
max-cache-ttl-ssh 0
auto-key-retrieve
no-emit-version
no-tty
{{- if env "GPG_DEFAULT_KEY" }}
{{- if stat "/opt/homebrew/bin/pinentry-mac" }}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{- else if stat "/usr/local/bin/pinentry-mac" }}
pinentry-program /usr/local/bin/pinentry-mac
{{- end }}
default-key {{ env "GPG_DEFAULT_KEY" }}
{{- end }}
