# ===== 全域：Bitwarden SSH Agent =====
Host *
    IdentityAgent "{{ .ssh.bitwarden_agent_sock }}"
    AddKeysToAgent yes
    ServerAliveInterval 60
    ServerAliveCountMax 3

# ===== GitHub =====
Host github.com
    User git
    IdentitiesOnly yes
    IdentityFile ~/.ssh/{{ .ssh.github_pubkey }}

# ===== 自架 GitLab =====
Host git.weiting.me
    User git
    IdentitiesOnly yes
    IdentityFile ~/.ssh/{{ .ssh.gitlab_pubkey }}
