{{- if not (env "AZURE_OPENAI_ENDPOINT") }}
preferred_auth_method = "chatgpt"
forced_login_method = "chatgpt"
{{- else }}
#preferred_auth_method = "chatgpt"
#forced_login_method = "chatgpt"
{{- end }}

{{ template "codex-base.toml" . }}

## mcp

[mcp_servers.playwright]
command = "npx"
args = ["-y", "@playwright/mcp@latest"]

[mcp_servers.context7]
command = "npx"
args = ["-y", "@upstash/context7-mcp"]
env = { "CONTEXT7_API_KEY" = "{{ env "CONTEXT7_API_KEY" }}" }

[mcp_servers.gemini]
command = "npx"
args = ["-y", "gemini-mcp-tool@latest"]
