{{- if not (env "AZURE_OPENAI_ENDPOINT") }}
preferred_auth_method = "chatgpt"
forced_login_method = "chatgpt"
{{- else }}
#preferred_auth_method = "chatgpt"
#forced_login_method = "chatgpt"
{{- end }}

profile="codex-max"

# 可用選項："read-only" | "workspace-write" | "danger-full-access"
# workspace-write：僅允許寫入工作目錄，較安全的預設值
sandbox_mode = "workspace-write"
approval_policy = "on-failure" # "untrusted" or "on-failure" or "never"

[profiles.gpt-5.1]
model_provider = "azure"
model = "gpt-5.1"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.gpt-5.1-mini]
model_provider = "azure"
model = "gpt-5.1-mini"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.codex]
model_provider = "azure"
model = "gpt-5.1-codex"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.codex-mini]
model_provider = "azure"
model = "gpt-5.1-codex-mini"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.codex-max]
model_provider = "azure"
model = "gpt-5.1-codex-max"
model_reasoning_effort = "xhigh"
model_reasoning_summary = "detailed"

[profiles.gpt-5.2]
model_provider = "azure"
model = "gpt-5.2"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.gpt-5.2-codex]
model_provider = "azure"
model = "gpt-5.2-codex"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.gpt-5-mini]
model_provider = "azure"
model = "gpt-5-mini"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"
max_tokens= 950

[profiles.o4-mini]
model_provider = "azure"
model = "o4-mini"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

[profiles.o3]
model_provider = "azure"
model = "o3"
model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

{{ if env "AZURE_OPENAI_ENDPOINT" }}
[model_providers.azure]
name = "Azure"
base_url= "{{ env "AZURE_OPENAI_ENDPOINT" }}"
env_key = "OPENAI_API_KEY_app_mfv8vy68"

# Newer versions appear to support the responses API, see https://github.com/openai/codex/pull/1321
query_params = { api-version = "2025-04-01-preview" }
wire_api = "responses"
{{- end }}

[sandbox_workspace_write]
network_access = true

## mcp

[mcp_servers.playwright]
command = "npx"
args = ["-y", "@playwright/mcp@latest"]

[mcp_servers.context7]
command = "npx"
args = ["-y", "@upstash/context7-mcp"]
env = { "CONTEXT7_API_KEY" = "{{ env "CONTEXT7_API_KEY" }}" }

[mcp_servers.gemini]
command = "npx"
args = ["-y", "gemini-mcp-tool@latest"]
